/* подключаем шрифты */
@font-face {
    font-family: "Myraid Pro";
    src: url(./fonts/MyriadPro-Regular.eot) format("embedded-opentype"),
        url(./fonts/MyriadPro-Regular.ttf) format("truetype"),
        url(./fonts/MyriadPro-Regular.woff) format("woff");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Gotham Pro Bold";
    src: url(./fonts/GothamPro-Bold.eot) format("embedded-opentype"),
        url(./fonts/GothamPro-Bold.ttf) format("truetype"),
        url(./fonts/GothamPro-Bold.woff) format("woff");
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: "OpenSans";
    src: url(./fonts/OpenSans-Regular.eot) format("embedded-opentype"),
        url(./fonts/OpenSans-Regular.ttf) format("truetype"),
        url(./fonts/OpenSans-Regular.woff) format("woff");
    font-style: normal;
    font-weight: bold;
}

/* прописываем свойства для всех элементов */
* {
    /* обнуляем дефолтный маргин тега body */
    margin: 0;
    box-sizing: border-box;
    /* box-sizing: content-box; */
}

ul {
    /* обнуляем дефолтную маркировку элементов тега ul */
    list-style: none;
    padding: 0;
    /* text-transform: capitalize; */
}

a {
    /* обнуляем дефолтное подчеркивание текста ссылки */
    text-decoration: none;
}

/* задаем границы под мобильные устройства */
.container {
    width: 320px;
    margin: 0 auto;
}

/* СТИЛИ ХЭДЭРА */
.header-nav {
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    background: linear-gradient(217deg, rgba(8, 8, 8, 0.5), rgba(8, 8, 8, 0.5) 70.71%),
        linear-gradient(127deg, rgba(17, 26, 17, 0.8), rgba(191, 231, 104, 0) 70.71%),
        linear-gradient(336deg, rgba(243, 183, 44, 0.5), rgba(241, 174, 18, 0.5) 70.71%);
    ;
}

.logo {
    padding-top: 36px;
    padding-bottom: 29px;
    text-transform: capitalize;
    font-family: "Myraid Pro";
    font-size: 16px;
    position: relative;
    color: black;
    margin-right: 20px;
}

/* псевдоэлемент перед лого */
.logo::before {
    content: "";
    width: 68px;
    height: 68px;
    position: absolute;
    top: 16%;
    left: -40%;
    background-image: url(../images/logo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    /* background-color: rgb(247, 223, 8); */
    /* border-radius: 50%; */
}

.logo span {
    text-transform: uppercase;
}

.nav_list {
    display: flex;
    flex-flow: column;
    padding-bottom: 27px;
    margin-right: 20px;
}

.logo span,
.nav_list-item a {
    font-weight: bold;
    color: black;
}

.nav_list-item {
    position: relative;
}

/* псевдоэлемент последнего элемента списка навигации */
.nav_list-item:last-child::before {
    content: "";
    width: 22px;
    height: 22px;
    position: absolute;
    left: -20%;
    background-image: url(../images/icon_viber.png);
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
}

/* СТИЛИ СЕКЦИИ 1 */
.s1 {
    display: flex;
    flex-flow: column;
    align-items: center;
    background-image: linear-gradient(to top,
            rgba(8, 8, 8, 0.5),
            rgba(241, 174, 18, 0.5)),
        url(../images/s1_back.jpeg);
    /* задаем фон с указанием пути к изображению и цвета наложения */
    /* background: #535353 url(../images/s1_back_pp.png); */
    /* добавляем формат наложения серого слоя */
    /* background-blend-mode: soft-light; */
    /* центрируем изображение */
    background-position: center;
    /* указываем запрет на повторение изображения за его пределами */
    /* background-repeat: no-repeat; */
    /* или установить размер с заполнением, тогда 
    изображение будет менять масштаб в зависимости от размера секции */
    background-size: cover;
    /* height: 420px; */
    width: 320px;
    margin: 0 auto;
}

.s1_title,
.s1_list {
    margin: 0 20px;
    color: rgb(184, 133, 23);
}

.s1_title {
    padding-top: 200px;
    font-family: "OpenSans";
    font-size: 36px;
}

.s1_list {
    padding-top: 28px;
    font-family: "OpenSans";
    font-size: 14px;
    padding-bottom: 60px;
    position: relative;
}

.s1_list::after {
    content: "\2193";
    color: rgb(196, 163, 17);
    position: absolute;
    top: 87%;
    left: 50%;
    background-position: center;
    background-repeat: no-repeat;
}

main span {
    color: rgb(12, 12, 11);
    font-family: "Gotham Pro";
    font-size: 16px;
    font-weight: 900;
}

.s1_list-item {
    position: relative;
    padding-left: 23px;
    margin-bottom: 15px;
}

.s1_list-item::before {
    content: "";
    width: 14px;
    height: 14px;
    position: absolute;
    top: 7%;
    left: 1%;
    background-image: url(../images/icon_star.png);
    background-position: center;
    background-repeat: no-repeat;
}

/* СТИЛИ СЕКЦИИ 2 */
.s2 {
    display: flex;
    flex-flow: column;
    align-items: center;
    background: linear-gradient(217deg, rgba(8, 8, 8, 0.5), rgba(8, 8, 8, 0.5) 70.71%),
        linear-gradient(127deg, rgba(17, 26, 17, 0.8), rgba(191, 231, 104, 0) 70.71%),
        linear-gradient(336deg, rgba(243, 183, 44, 0.5), rgba(241, 174, 18, 0.5) 70.71%);
    ;
}

.s2_title {
    display: block;
    text-align: center;
    padding-top: 100px;
    margin-bottom: 50px;
    color: rgb(223, 125, 45);
    font-family: "OpenSans";
    font-weight: 900;
    font-size: 36px;
}

.s2_list {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.s2_list-item {
    display: flex;
    flex-flow: column;
    align-items: center;
    border: 3px solid rgb(219, 93, 8);
    width: 140px;
    height: 140px;
    padding: 40px;
    margin-bottom: 50px;
    position: relative;
    background-color: rgb(246, 237, 237);
}

.s2_list-item::before {
    content: "";
    width: 48px;
    height: 48px;
    position: absolute;
    top: -18%;
    left: 30%;
    background-image: url(../images/s2_spiral.png);
}

/* .s2_list-item:nth-child(1)::before {
    background-image: url();
}

.s2_list-item:nth-child(2)::before {
    background-image: url();
}

.s2_list-item:nth-child(3)::before {
    background-image: url();
}

.s2_list-item:nth-child(4)::before {
    background-image: url();
} */

.s2_list-item p {
    font-size: 14px;
    font-style: oblique;
    font-weight: 600;
    text-align: center;
    margin-bottom: 10px;
}

/* СТИЛИ СЕКЦИИ 3 - КАРУСЕЛЬ */
.s3 {
    display: flex;
    flex-flow: row;
    align-items: center;
    background-image: linear-gradient(to top,
            rgba(8, 8, 8, 0.5),
            rgba(241, 174, 18, 0.5)),
        url(../images/s5_back.jpeg);
    background-position: center;
    background-size: cover;
    width: 320px;
    height: 500px;
    margin: 0 auto;
}

/* свойства секции относительно слайдера */
.ant-carousel {
    width: auto;
    position: relative;
}

/* обертка списка галереи */
.ant-carousel-hider {
    overflow: hidden;
}

/* список галереи */
.ant-carousel-list {
    width: auto;
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
}

/* элемент списка галереи */
.ant-carousel-element {
    display: block;
    flex: 0 0 auto;
    text-align: center;
    width: 320px;
}

.ant-carousel-element img {
    width: 260px;
    height: 200px;
    position: sticky;
}

.ant-carousel-element p {
    font-size: 14px;
    font-style: oblique;
    font-weight: 600;
    text-align: center;
    margin-bottom: 10px;
}

/* общие свойства стрелок слайдера */
div.ant-carousel-arrow-left,
div.ant-carousel-arrow-right {
    width: 22px;
    height: 40px;
    position: absolute;
    cursor: pointer;
    opacity: 0.6;
    z-index: 32;
}

/* левая стрелка слайдера */
div.ant-carousel-arrow-left {
    left: 5px;
    top: 44%;
    display: block;
    background: url("http://pvbk.spb.ru/inc/carousel/ant-files/ant-arrow-left.png") no-repeat;
}

/* правая стрелка слайдера */
div.ant-carousel-arrow-right {
    right: 5px;
    top: 44%;
    display: block;
    background: url("http://pvbk.spb.ru/inc/carousel/ant-files/ant-arrow-right.png") no-repeat;
}

/* ховер левой стрелки слайдера */
div.ant-carousel-arrow-left:hover {
    opacity: 1;
}

/* ховер правой стрелки слайдера */
div.ant-carousel-arrow-right:hover {
    opacity: 1;
}

/* контейнер с точками слайдера */
div.ant-carousel-dots {
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    bottom: 64px;
    z-index: 30;
    text-align: center;
}

/* точки слайдера */
span.ant-dot {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    padding: 0;
    display: inline-block;
    background-color: #bbb;
    border-radius: 5px;
    cursor: pointer;
}

/* СТИЛИ СЕКЦИИ 4 */
.s4 {
    display: flex;
    flex-flow: column;
    align-items: center;
    background: linear-gradient(217deg, rgba(8, 8, 8, 0.5), rgba(8, 8, 8, 0.5) 70.71%),
        linear-gradient(127deg, rgba(17, 26, 17, 0.8), rgba(191, 231, 104, 0) 70.71%),
        linear-gradient(336deg, rgba(243, 183, 44, 0.5), rgba(241, 174, 18, 0.5) 70.71%);
    ;
}

.s4_title {
    display: block;
    text-align: center;
    padding-top: 100px;
    margin-bottom: 50px;
    color: rgb(223, 125, 45);
    font-family: "OpenSans";
    font-weight: 900;
    font-size: 36px;
}

.s4_list {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-right: 20px;
    padding-bottom: 30px;
    position: relative;
}

.s4_list::before {
    display: block;
    content: "";
    border: 2px solid rgb(77, 33, 4);
    height: 800px;
    position: absolute;
    top: 3px;
    left: 25px;
}

.s4_list-item {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding-left: 80px;
    margin-bottom: 20px;
    position: relative;
}

.s4_list-item::before {
    display: block;
    content: "";
    border: 2px solid rgb(219, 93, 8);
    width: 18px;
    position: absolute;
    top: 10px;
    left: 50px;
}

/* СТИЛИ СЕКЦИИ 5 */
.s5 {
    display: flex;
    flex-flow: column;
    align-items: center;
    background-image: linear-gradient(to top,
            rgba(8, 8, 8, 0.5),
            rgba(241, 174, 18, 0.5)),
        url(../images/s5_back.jpeg);
    background-position: center;
    background-size: cover;
}

.s5_block {
    display: block;
    /* flex-flow: column;
    align-items: flex-start; */
    /* width: inherit; */
}

.s5_block-title {
    display: block;
    padding: 50px 0;
    color: rgb(223, 125, 45);
    font-family: "OpenSans";
    font-weight: 900;
    font-size: 36px;
    position: relative;
}

.s5_block-title::before {
    display: inline-block;
    content: "";
    border: 2px solid rgb(197, 92, 22);
    width: 80px;
    position: absolute;
    top: 94px;
    left: -60px;
}

.s5_block-list {
    display: flex;
    flex-flow: column;
    /* align-items: center;
    margin-right: 20px;
    padding-bottom: 30px; */
}


.s5_block-listItem {
    display: flex;
    flex-flow: column;
    padding-left: 80px;
    margin-bottom: 20px;
    position: relative;
}

.s5_block-listItem::before {
    content: "";
    width: 32px;
    height: 32px;
    position: absolute;
    top: -18%;
    left: 30%;
    background-image: url(../images/s5_icon.png);
}

/* СТИЛИ ФУТЕРА */
footer {
    /* задаем цвет фона всему футеру */
    background-color: black;
}

footer p {
    /* задаем цвет текста */
    color: rgb(160, 151, 151);
    /* задаем шрифт */
    font-family: "Myriad Pro";
    /* размер шрифта */
    font-size: 12px;
    /* задаем верхний и нижний внутренние отступы */
    padding: 25px 0;
    /* центрируем текст */
    text-align: center;
}

/* @media screen and (min-width: 768px) {
    .container {
        width: 768px;
    }
} */


@media screen and (max-width: 767px) {
    .ant-carousel {
        min-width: 270px;
    }
}

@media screen and (min-width: 911px) {
    .ant-carousel {
        max-width: 810px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
    .ant-carousel {
        max-width: 540px;
    }
}